/*variables*/
/*general*/
html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Baloo Paaji 2", cursive;
}

.container {
  max-width: 1100px;
  margin: auto;
  position: relative;
}

.fab,
.fas,
.far {
  color: #ffd900;
}

/* NAV */
nav {
  position: absolute;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin: 0px 60px;
  width: 100%;
  z-index: 200;
  background: transparent;
}

.navibar h1 {
  font-family: "Paytone One", sans-serif;
  color: #fff;
}

.menu {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  position: relative;
  margin-right: 6rem;
}

.menu ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  position: relative;
}

.menu li {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  position: relative;
  padding: 10px;
  text-decoration: none;
  list-style-type: none;
  list-style: none;
}

.menu li a {
  color: #f5d6d6;
  text-decoration: none;
}

/*header*/
.header {
  top: 0;
  left: 0;
  height: 100vh;
  width: auto;
  background: url("https://images.pexels.com/photos/1319459/pexels-photo-1319459.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: block;
}

.welcome {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 4rem;
  text-align: center;
  transform: translate(-50%, -50%);
  color: #fff;
  line-height: 1;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 5px;
}

.welcome h1 {
  font-size: 4rem;
}

.btn {
  height: 50px;
  width: 50px;
  padding: 1rem;
  background: #383838;
  text-align: center;
  color: white;
  text-decoration: none;
}

/*services*/
.services {
  top: 50%;
  height: 100vh;
  width: auto;
  position: relative;
}

.icon_position {
  position: relative;
  top: 60px;
  left: 10px;
  width: 70vw;
}

.services_titles {
  text-align: center;
  text-transform: uppercase;
}

.services_icons {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex: 33.333% 33.333% 33.333%;
      flex: 33.333% 33.333% 33.333%;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  text-align: center;
}

.icon1 {
  padding: 6rem 2rem;
}

.icon1_description p {
  text-align: justify;
}

/*gallery*/
.portfolio {
  top: 0;
  left: 0;
  width: auto;
  position: relative;
  background-color: #b2b5b9;
}

.portfolio_titles {
  text-align: center;
  text-transform: uppercase;
  padding-top: 4rem;
}

.gallery {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-preferred-size: 33.333%;
      flex-basis: 33.333%;
  -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.picture {
  width: 100px;
  list-style: none;
  -ms-flex: 0 0 25.333333%;
      flex: 0 0 25.333333%;
  text-align: center;
  margin: 2rem 1rem;
}

.image {
  margin: 0;
  padding: 0;
  position: relative;
}

.image img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  margin: 0;
  padding: 0;
}

img {
  padding: 0rem;
  margin: 0rem;
}

.picture_description {
  position: relative;
  width: auto;
  text-align: center;
  line-height: 1px;
  background-color: #fff;
  padding: 15px 0px;
}

.picture_description h1 {
  font-family: "Paytone One", sans-serif;
}

.footer {
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.icons_group ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.icons_group {
  position: relative;
  top: 30%;
  left: 0%;
}

.social_icon {
  font-size: 0px;
  height: 30px;
  width: 30px;
  background: #96afb6;
  border-radius: 10%;
  transition: 0.5s all linear;
  text-align: center;
  -ms-flex-pack: center;
      justify-content: center;
  margin: 0 20px;
}

.social_icon a {
  color: black;
}

.icons_group ul {
  margin: 0;
  padding: 0;
}

.social_icon .fab {
  position: relative;
  font-size: 15px;
  text-decoration: none;
  list-style-type: none;
  top: 8px;
  left: 0px;
}

.social_icon:hover {
  transform: scale(1.5);
}

/*MEDIA*/
@media (max-width: 767px) {
  nav {
    display: block;
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .menu {
    text-align: center;
    margin: 0;
  }
  .menu li {
    display: block;
    padding: 5;
    margin: 0;
  }
  .navibar h1 {
    text-align: center;
    color: #f7f6f1;
  }
  .header h2,
  .header h1 {
    font-size: 20px;
  }
  .welcome {
    padding: 20px;
  }
  .btn {
    display: none;
  }
  .icon_position {
    display: block;
  }
  .portfolio .gallery {
    display: block;
    text-align: center;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
  }
  .gallery {
    padding: 4rem 0rem;
  }
  .image img {
    display: block;
    text-align: center;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    max-width: 200px;
    height: auto;
  }
  img {
    position: relative;
    left: 30px;
  }
  .picture {
    position: relative;
    display: block;
    left: 20%;
    text-align: center;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    padding: 4rem 0rem;
  }
  .picture_description {
    position: relative;
    display: block;
    left: 30%;
    text-align: center;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    width: 200px;
  }
  .services {
    display: block;
    position: relative;
    height: auto;
    left: 12%;
  }
  .services_icons {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */